{% extends "base.html" %} 

{% block title %}
<title>Nuevo Projecto</title>
{% endblock title %}


{% block content %}

{% load static %}
{% load crispy_forms_tags %}

<main id="main">

<!-- ======= Breadcrumbs ======= -->
  <section class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2 style="font-weight: 600; color: #173b6c">Nuevo Projecto</h2>
        <ol>
          <li>Projectos</li>
          <li><a href="{% url 'portfolio' %}">Regresar</a></li>
        </ol>
      </div>

    </div>
  </section><!-- End Breadcrumbs -->

  <section class="inner-page">
    <div class="container">
      {% comment %} <div class="mt-5"> {% endcomment %}
        <div class="card" style="width: 60%; margin: auto">
          <div class="card-body">
            <form method="post" novalidate>
              {% csrf_token %} 
              {{ form|crispy }}
              <br>
              <div class="d-grid" style="width: 30%; margin: auto">
                <button type="submit" class="btn btn-primary">Crear Proyecto</button>
              </div>
            </form>
          </div>
        </div>
      {% comment %} </div> {% endcomment %}
    </div>
  </section>

  <script>
    const inputs = document.querySelectorAll("input");
    
    inputs.forEach((input) => {
      input.classList.add("form-control");
      input.style.marginBottom = "20px";
    });

    const labels = document.querySelectorAll("label");
    
    labels.forEach((label) => {
      label.style.fontWeight = "600";
    });

    const textarea = document.getElementById('id_description')
    textarea.style.marginBottom = "20px";
    
    const tasks = document.getElementById('div_id_tasks')
    tasks.style.marginBottom = "10px";

  </script>

</main>

{% endblock content %}
