{% extends "base.html" %} 

{% block title %}
<title>Visitas</title>
{% endblock title %}


{% block content %}

{% load static %}
{% load crispy_forms_tags %}

<main id="main">

<!-- ======= Breadcrumbs ======= -->
  <section class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2 style="font-weight: 600; color: #173b6c">Visitas al Portfolio</h2>
        <ol>
          <li>Visitas al Portfolio</li>
          <li><a href="{% url 'portfolio' %}">Regresar</a></li>
        </ol>
      </div>

    </div>
  </section><!-- End Breadcrumbs -->

  <section class="inner-page">
    <div class="container">
      {% comment %} <div class="mt-5"> {% endcomment %}
        <div class="card" style="width: 80%; margin: auto">
          <div class="card-body">

            <table class="table">
              <thead class="table-info">
                <tr>
                  <th scope="col"># Visita</th>
                  <th scope="col">Dirección IP</th>
                  <th scope="col">Ciudad</th>
                  <th scope="col">País</th>
                  <th scope="col">Codigo de País</th>
                  <th scope="col">Fecha y hora</th>
                </tr>
              </thead>
              <tbody>
                {% for visit in visits %}
                <tr>
                  <th scope="row">{{ visit.id }}</th>
                  <td>{{ visit.ip_address }}</td>
                  <td>{{ visit.city }}</td>
                  <td>{{ visit.country }}</td>
                  <td>{{ visit.country_code }}</td>
                  <td>{{ visit.created_at }}</td>
                </tr>
                
                {% endfor %}
              </tbody>
            </table>

          </div>
        </div>
      {% comment %} </div> {% endcomment %}
    </div>
  </section>

  <script>
    const inputs = document.querySelectorAll("input");
    
    inputs.forEach((input) => {
      input.classList.add("form-control");
      input.style.marginBottom = "20px";
    });

    const labels = document.querySelectorAll("label");
    
    labels.forEach((label) => {
      label.style.fontWeight = "600";
    });

    const textarea = document.getElementById('id_description')
    textarea.style.marginBottom = "20px";
    
    const tasks = document.getElementById('div_id_tasks')
    tasks.style.marginBottom = "10px";

  </script>

</main>

{% endblock content %}
